/* Variables */
:root{
    --basic-dark-blue:#293449;
    --basic-navigation-blue:#32425C;
    --basic-button-red:#EE3643;
    --basic-menu-text:#fff;
    --basic-footer-menu-text:#FFD180;
}
*, *::after, *::before {
    box-sizing: border-box;
    }
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-menu-text);
}
a {
    text-decoration: none;
    color: var(--basic-menu-text)
}
img {
    max-width: 100%;
    height: auto;
}
.main-header .search{
    background-color: var(--basic-dark-blue);
}
.main-header .search form{
    margin: 0;
    position: relative;
}
.main-header .search form svg{
    position: absolute;
    top: 12px;
    left: 12px;
}
.main-header .search form input{
    height: 42px;
    border: 0;
    width: 271px;
}
ul{
    list-style: none
}
.main-header{
    background:  #F1F5F7;
    height: 320px;
}

.visual-hidden{
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container{
    width: 940px;
    margin: 0 auto;
}
/*.search-grid{
    display: grid;
    grid-template-columns: 300px 200px ;
    
}*/

.search-flex{
    display: flex;
}
.search-magnifier{
    margin: 0;
    padding-left: 20px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    position: relative;
}
.search-magnifier::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    top:11px;
    background-image: url("img/icon-search-white.svg");
    background-position: 0 0;
    opacity: 0.3;
}
.search-magnifier:hover::before,
.search-magnifier:focus::before{
    opacity: 1;
}
.search-magnifier:hover{
    cursor: pointer;
}

.search-flex  ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 431px;
    justify-content: space-between;
    margin-top: 0;
    margin-left: auto;
    
}
.search-flex  ul li {
    width: 150px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-flex ul .green{
    background-color: #63A63E;
}
.search-flex ul .green:hover{
    background-color: #5FBB2D;
}
.search-flex ul .green:active a,
.search-flex ul .green:active 
{
    color: rgba(255, 255, 255, 0.5);
    background-color: #63A63E;
}

.search-flex ul li{
    position: relative;
}
.search-flex ul li:not(.green):active{
    background-color: #161D29;
}
.search-flex ul .basket::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 12px;
    top:12px;
    background-image: url("img/basket.svg");
    background-position: 0 0;
    opacity: 0.3;
    background-repeat: no-repeat;
}
.search-flex ul .markers::before{
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    left: 12px;
    top:12px;
    background-image: url("img/marks.svg");
    background-position: 0 0;
    opacity: 0.3;
    background-repeat: no-repeat;
}
.search-flex ul li:hover::before{
    opacity: 1;
}
.search-flex ul li:active::before{
    opacity: 0.3;
}
.search-flex ul li:active
{
    
    color: rgba(255, 255, 255, 0.5);
}
.search-flex form{
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 0;
    margin-left: 10px;
}
.logo-header a{
    margin: 0;
    width: 108px;
    height: 18px;
    display: inline-block;
}
.logo-header{
    background: var(--basic-button-red);
    width: 220px;
    height: 47px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    margin: 0;
    padding-top: 10px;
    margin-bottom: -5px;
    font-size: 23px;
}
.logo-header:active{
    background-color: #BA2732;
}
.skelet-phone-number a{
    text-align: center;
    display: inline-block;
    border: 3px solid #FFFFFF;
    width: 270px;
    height: 45px;
    color: var(--basic-button-red);
    font-size: 21px;
    line-height: 21px;
}
.phone-number{
    font-weight: bold;
    color: var(--basic-button-red);
    padding-top: 10px;
}

/*.enter-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}*/
.enter-flex h1{
    font-family: Cuprum;
    font-style: italic;
    color: #EE3643;
    font-size: 16px;
    line-height: 23px;
    
}  
.skelet-phone-number{
    color: #32425C;
    font-size: 14px;
    line-height: 24px;
}

.enter a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
}
.enter-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 159px;
}
.enter-flex h1{
    width: 197px;

}
.enter-buttons button{
    outline: none;
    border: none;
    height: 45px;
    background-color: #fff;
    position: relative;
}
.enter-buttons button span{
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000;
}
.enter-buttons button:hover span{
    color: var(--basic-button-red);
}
.enter-buttons button:active span{
    color: #C5C5C5;
}
.enter-login .login-name{
    width: 299px;
    height: 45px;
    color: #000;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-top: 20px;
}
.enter-login {
    position: relative;
}
.enter-login .login-name::before
{
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    background-image: url(img/icon-user.svg);
    left: 20px;
}
.enter-login .login-name:hover::before{
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    background-image: url(img/icon-user_active.svg);
    left: 20px;
}
.enter-login .login-name:hover::after{
    content: "";
    width: 20px;
    height: 17px;
    position: absolute;
    background-image: url(img/icon-login_active.svg);
    right: 25px;
}
.enter-login .login-name:active::before{
    background-image: url(img/icon-user.svg) ;
}
.enter-login .login-name:active::after{
    background-image: url(img/icon-login.svg) ;
}
.enter-login .login-name:active {
    color: #C5C5C5;
}
.enter-login a:not(login-name){
    color:#32425C;
    font-size: 16px;
    text-align: center;
}
.enter-login .hrefs:hover a
{
    color: var(--basic-button-red);
}
.enter-login .hrefs:active a{
    color: #C5C5C5 ;
}
.enter-login .hrefs a:nth-child(1){
    margin-left: 50px;
    margin-right: 20px;
}
.enter-login .hrefs a:nth-child(1)::after{
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(0deg, #32425C, #32425C);
    position: absolute;
    bottom: 27px;
    left: 133px;
}
 .hrefs:hover a:nth-child(1)::after{
    background: var(--basic-button-red) ;
}
 .hrefs:active a:nth-child(1)::after{
    background-color: #C5C5C5 ;
}
.enter-login .login-name::after{
    content: "";
    width: 20px;
    height: 17px;
    position: absolute;
    background-image: url(img/icon-login.svg);
    right: 25px;
}
 .login-link::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 17px;
    left: 14px;
    top:13px;
    background-image: url("img/icon-login.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.enter-buttons .login-link:hover::before{
    background-image: url("img/icon-login_active.svg");
}
.enter-buttons .login-link:active::before{
    background-image: url("img/icon-login.svg");
}
.login-link{
    width: 121px;
    margin-left: 10px;
}
.reg{
    width: 150px;
}

.site-navigation{
    margin: 0;
}

.phone-number{
    color: #EE3643;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}
.list-tools ul{
    display: flex;
    justify-content: space-between;
    width: 356px;
    padding: 0;
    margin: 0;
}
.list-tools ul li{
    position: relative;
}
.list-tools ul a::after{
    content: "";
    width: 8px;
    height: 12px;
    position: absolute;
    right: -25px;
    bottom: 5px;
    background-image: url("img/shape-roll.svg");
}
.list-tools ul li:last-child a::after{
    display: none;
}
.features{
    margin-bottom: 0;
}
.main-navigation{
    background-color: var(--basic-navigation-blue);
}
.main-navigation ul{
    display:flex;
    justify-content: space-around;
}
.main-navigation ul li:hover{
    background-color: #293449;
}
.main-navigation ul li:active a{
    opacity: 0.5;
}
.main-navigation ul li{
    width: 122px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px ;
    grid-gap: 20px;
    padding-left: 0;
    margin-top: 59px;
    margin-bottom: 0;
}

.features-list .feature-item{
    width: 300px;
    height: 123px;
    padding-top: 20px;
    padding-left: 23px;
    position: relative;
}
.features-list .feature-item:not(.photo)::after{
    content: "";
    position: absolute;
    width: 94px;
    height: 78px;
}
.features-list .feature-item h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 0px;
}
.features-list .feature-item a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: block;
    width: 135px;
    padding: 10px 0 10px 23px;
}
.features-list .feature-item a:hover{
    background-color: #C5C5C5;
}
.features-list .feature-item a:active{
    background-color: #A9A9A9;
}
.features-list .yello{
    background-color: #FFBF47;
    overflow: hidden;
}
.features-list .yello::before{
    content: "New";
    text-transform: uppercase;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 95px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: -25px;
    transform: rotate(45deg);
    background-color: var(--basic-button-red);
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-list .yello::after{
    background-image: url("img/icon-1.png");
    right: 0;
    top: 31px;
    background-repeat: no-repeat;
}
.features-list .yello a{
    background-color: #FFD27E
}
.features-list .blue {
    background-color: #3BBCE3;
}
.features-list .blue::after{
    background-image: url("img/icon-2.png");
    right: 0;
    top: 31px;
    background-repeat: no-repeat;
}
.features-list .blue a{
    background-color: #75D0EB;
}
.features-list .purple {
    background-color: #DC91D8;
}
.features-list .purple::after{
    background-image: url("img/icon-3.png");
    right: 21px;
    top: 31px;
    background-repeat: no-repeat;
}
.features-list .purple a{
    background-color: #E6B2E4;
    padding-left: 30px;
}
.features-list .photo {
    width: 620px;
    height: 266px;
    background: url(img/Layer199.jpg);
}
.features-list .photo .content .ball-left,
.features-list .photo .content .ball-right{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}
.features-list .photo .content .ball-left{
    margin-left: 80px;
}
.back-ground-red{
    background-color: var(--basic-button-red) !important;
}
.features-list .photo h2{
    text-transform: uppercase;
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 5px;
}
.features-list .photo p{
    margin-top: 0;
}
.features-list .photo .left-roll{
    position: absolute;
    left: 24px;
    top: 122px;
    cursor: pointer;
}
.features-list .photo .right-roll{
    position: absolute;
    right: 24px;
    top: 122px;
    cursor: pointer;
}
.features-list .photo a{
    background-color: #EE3643;
    margin-top: 113px;
    width: 192px;
    height: 38px;
    padding-left: 46px;
    display: inline-block;
}
.features-list .photo a:hover{
    background-color: #CA2C37;
}
.features-list .photo a:active{
    background-color: #BA2732;
}
.features-list .green{
    background: #8ED78F;
    grid-column: -2/-1;
}
.features-list .green::after{
    background-image: url("img/icon-4.png");
    right: 10px;
    top: 31px;
    background-repeat: no-repeat;
}
.features-list .green a{
    background-color: #B0E3B0;
}
.features-list .last-yello{
    background: #FFC047;
    grid-column: -2/-1;
    grid-row: 3/4;
    
}
.features-list .last-yello::after{
    background-image: url("img/icon-5.png");
    right: 10px;
    top: 31px;
    background-repeat: no-repeat;
}
.features-list .last-yello a{
    background-color: #FFD37E;
    padding-left: 35px;
}
.filter-goods fieldset{
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid #E8E8E8;
    font-family: PT Sans;
}
.filter-goods h3{
    margin-top: 0;
}
.filter-goods .button{
    outline: none;
    border: none;
    width: 220px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter-item .range-controls{
    height: 80px;
    background-color: #F7F3EC;
    border-radius: 5px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.range-controls .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
}
.price-controls input{
    width: 90px;
    padding: 10px;
    text-align: center;
    color: #283136;
    border: none;
    background: #F7F3EC;
    font-family: inherit;
    font-size: inherit;
    margin-right: 5px;
    margin-top: 9px;
    margin-bottom: 25px;
}
.price-controls label:nth-child(2) input{
    margin-left: 30px;
    margin-right: 0;
}
.price-controls .max-price{
    position: relative;
}
.price-controls .max-price::before{
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    background-color: #000;
    left: 4px;
    top: 10px;
}
.range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 140px;
  }
.range-controls .scale{
    height: 2px;
    background-color: #d7dcde;
}
.range-controls .bar{
    width: 70%;
    height: 2px;
    background-color: #00ca74;
}
.filter-goods h3{
    height: 38px;
    background-color: #F7F3EC;
    font-size: 13px;
    line-height: 18px; 
    display: flex;
    align-items: center;
    padding-left: 17px;
}
.filter-goods fieldset legend{
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 11px;
}
.filter-goods fieldset:nth-of-type(1){
    margin-bottom: 16px;
}
.filter-goods fieldset:nth-of-type(2){
    margin-bottom: 18px;
    padding-top: 18px;
}
.filter-goods fieldset:nth-of-type(3) legend{
    padding-bottom: 21px;
}
.filter-goods fieldset:nth-of-type(2) ul, .filter-goods fieldset:nth-of-type(3) ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.filter-goods fieldset:nth-of-type(2) ul li{
    margin-bottom: 20px;
}

.filter-goods fieldset:nth-of-type(3) ul li {
    margin-bottom: 22px;
}

.filter-option label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}
.filter-checkbox label{
    margin-left: 30px;
}
.filter-input-checkbox + label::before{
    content: "";
    position: absolute;
    left: -32px;
    top: 0;
    width: 23px;
    height: 23px;
    border: 2px solid #C5C5C5;
    border-radius: 3px;
    opacity: 0.6;
}
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:checked:hover + label::after
{
    opacity: 1;
}
.filter-input-checkbox:checked + label::after{
    content: "";
    position: absolute;
    top: 3px;
    left: -25px;
    width: 25px;
    height: 18px;
    background-image: url("img/check_mark.svg");
    background-repeat: no-repeat;
    opacity: 0.6;
}
.filter-input-radio + label::before{
    content: "";
    position: absolute;
    left: -32px;
    top: -1px;
    width: 23px;
    height: 23px;
    border: 2px solid #C5C5C5;
    border-radius: 50%;
}
.filter-input-radio:checked + label::after{
    content: "";
    position: absolute;
    top: 6px;
    left: -25px;
    width: 9px;
    height: 9px;
    background-color: #C5C5C5;
    border-radius: 50%;
}
.filter-radio label{
    margin-left: 30px;
}
.pop-price{
    background: #F9F5F0;
    margin-top: 56px;
 }
.pop-price h2{
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.pop-price a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.pop-price-list-catalog, .pop-price-list-index{
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.pop-item div{
    height: 119px;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 28px;
}
.pop-price-list-index .pop-item:nth-child(2n)::before,
.pop-price-list-catalog .new::before
{
    content: "New";
    text-transform: uppercase;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 95px;
    height: 28px;
    position: absolute;
    top: 10px;
    right: -25px;
    transform: rotate(45deg);
    background-color: var(--basic-button-red);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.pop-price-list-catalog .buy-or-marker{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    position: relative;
}
.pop-price-list-catalog .buy-or-marker a{
    width: 135px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 18px;
}
.pop-price-list-catalog .buy-or-marker a:first-of-type::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 23px;
    background-image: url("img/icon-cart.png");
    background-repeat: no-repeat;
}
.pop-price-list-catalog .buy-or-marker a:first-of-type{
    background-color: #63A63E;
    color: #fff !important;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}
.pop-price-list-catalog .buy-or-marker a:first-of-type:hover{
    background-color: #5FBB2D;
}
.pop-price-list-catalog .buy-or-marker a:first-of-type:active{
    background-color: #518534;
}
.pop-price-list-catalog .buy-or-marker a:last-of-type:hover{
    border: 3px solid #32425C;
}
.pop-price-list-catalog .buy-or-marker a:last-of-type:active{
    border: 3px solid #A9A9A9;
}
.pop-price-list-catalog .buy-or-marker a:last-child{
    border: 3px solid #63A63E;
    box-sizing: border-box;
    border-radius: 2px;
}
.pop-active{
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.pop-price-list-catalog .pop-item, .pop-price-list-index .pop-item{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    width: 220px;
    height: 320px;
    margin-right: 20px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.pop-price-list-index .pop-item:nth-child(4n){
    margin-right: 0px;
}
.pop-price-list-catalog .pop-item:nth-child(3n){
    margin-right: 0;
}
.pop-price-list-index .pop-item p:nth-of-type(2), .pop-price-list-catalog .pop-item p:nth-of-type(2){
    background-color: var(--basic-button-red);
    font-weight: 700;
    font-size: 17px;
    width: 141px;
    height: 38px;
    margin: 0 auto 0 auto;
    text-align: center;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;
    color: #fff;
}
.pop-price-list-index .pop-item p:nth-of-type(2)::before, .pop-price-list-catalog .pop-item p:nth-of-type(2)::before{
    content: "";
    background-color: #fff;
    position: absolute;
    border: 19px solid transparent;
    border-left:19px solid var(--basic-button-red) ;
    right: -25px;
    top: 0;
}
.pop-price-list-catalog  p:nth-of-type(1), .pop-price-list-index p:nth-of-type(1){
    color: #A9A9A9;
    font-weight: 700;
    text-decoration: line-through;
    margin: 7px 0 13px;
}
.pop-price-list-catalog  .pop-item a, .pop-price-list-index .pop-item a{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.firms-desk{
    margin-top: 70px;
}
.firms-list .firms-desk{
    background: #F9F5F0;
}
.firms-desk h2{
        color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.firms-desk a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    
}
.firms-logo{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px ;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 78px;
}
.firms-logo div{
    border: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firms-logo div:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
}
.firms-logo div:active {
    opacity: 0.3;
}
.service-delivery {
    background: #F1F5F7;
    height: 522px;
    display: flex;
    align-items: center;
    position: relative;
}

.service-delivery .service-flex{
    display: flex;
}
.service-delivery .container{
    color: #000000;
    /*display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;*/
    background-image: url("img/Layer1311.png");
    background-repeat: no-repeat;
    background-position: right 0 bottom -80px;
}
.service-delivery h3{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
}

.service p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}

.delivery p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 26px;
}
.delivery h3{
    color: #32425C;
}
.delivery button{
    border: 0;
    outline: none;
    width: 195px;
    height: 38px;
    background-color: #FF5357;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}
.service-delivery ul{
    width: 240px;
    height: 183px;
    padding-left: 0;
    background: #32425C;
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    line-height: 30px;
    margin-right: 80px;
    position: relative;
}
.service-delivery ul::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    top: -45px;
    right: 0;
    background-image: url("img/column.png");
    background-repeat: no-repeat;
}
.service-delivery ul li.active{
    background-color: #fff;
    color: #32425C;
    border-bottom: none;
    border-top: none;
}
.service-delivery ul li:hover:not(.active){
    background-color: #293449;
}
.service-delivery ul li{
    display: flex;
    align-items: center;
    padding-left: 22px;
    height: 61px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
}
.service-delivery img{
    width: 368px;
    height: 261px;
    
}
.info {
    color: #000;
    /*display: grid;
    grid-template-columns: auto auto;*/
    display: flex;
    justify-content: space-between;
    height: 356px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.modal-message{
    width: 620px;
    background-color: #fff;
    color: #000;
    padding: 46px 0;
    border-top: 7px solid var(--basic-button-red);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 30%;
    right: 35%;
    padding: 0;
}
.modal-message input[type=submit]{
    border: none;
    outline: none;
    background-color: var(--basic-button-red);
    color: #fff;
    width: 460px;
    height: 38px;
}
.modal-message .informtion input,
.modal-message .informtion textarea
{
    border: 2px solid #C5C5C5;
    border-radius: 2px; 
    padding-left: 11px;
    color:#C5C5C5;
}
.modal-message input::placeholder,
.modal-message textarea::placeholder
{
    color: #C5C5C5;
    font-weight: normal;
    font-size: 13px;
    font-family: PT Sans;
    font-style: normal;
}
.modal-message textarea{
    padding-top: 11px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -5px;
  width: 21px;
  height: 3px;
  background-color: var(--basic-button-red);
}
.modal-close::before {
    transform: rotate(45deg);
  }
  
.modal-close::after {
    transform: rotate(-45deg);
  }
.modal-message .informtion{
    margin: 0 auto;
    width: 460px;
}
.modal-message fieldset{
    border: none;
}
.modal-message .submit{
    height: 112px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}
.modal-message p{
    width: 219px;
    display: inline-block;
}
.modal-message p input{
    width: 219px;
    height: 38px;
}
.modal-message p:last-of-type {
    margin-left: 17px;
}
.modal-message textarea{
    resize: none;
    width: 460px;
    height: 114px;
}
.modal-map{
    position: fixed;
    top: 50%;
    right: 50%;
    width: 943px;
    height: 449px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-top: 7px solid var(--basic-button-red);
    top: 38%;
    right: 25%;
}
.modal-basket{
    width: 620px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-top: 7px solid var(--basic-button-red);
    top: 320px;
    right: 620px;
}
.modal-basket h2{
    width: 270px;
    margin: 66px auto;
    font-weight: bold;
    font-size: 24px;
    position: relative;
}
.modal-basket h2::before{
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    background-color: #63A63E;
    border-radius: 50%;
    top: -20px;
    left: -94px;
    background-image: url("img/check-mark.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.modal-basket .buttons{
    height: 112px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-basket button{
    width: 192px;
    height: 38px;
    border: none;
    outline: none;
    background-color: #fff;
    font-size: 14px;
}
.modal-basket button:nth-child(1){
    background-color:var(--basic-button-red);
    margin-right: 10px;
    color: #fff;
}
.modal-basket .modal-close{
    top: 0;
    right: -168px;
}
.info h3{
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}
.info-desk p, .info-address p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.info-desk ul{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}
.info-desk ul li{
    position: relative;
}
.info-desk ul li::before{
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--basic-button-red);
    position: absolute;
    left: -35px;
    bottom: 10px;
}
.info-desk a , .info-address a{
    background:var(--basic-button-red);
    color: #fff;
    display: block;
    padding-top: 8px;
}
.info-desk a{
    width: 220px;
    height: 38px;
    display: inline-block;
    text-align: center;
    
}
.info-address a{
    display: inline-block;
    text-align: center;
    width: 300px;
    height: 38px;
    margin-top: 25px;
}
.main-footer{
    background: var(--basic-navigation-blue);
}
.main-footer .logo {
    font-size: 30px;
    font-weight: normal;
    display: inline-block;
    margin: 20px ;
}
.logo-tech{
    background:var(--basic-button-red);
    width: 220px;
    height: 68px;
    padding: 0;
    text-align: center;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.footer-navigation-up, .footer-navigation-down{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px;
}
.footer-navigation-up ul{
    display: flex;
    width: 553px;
    justify-content: space-between
}
.footer-navigation-up ul li:hover,
.footer-navigation-down ul li:hover
{
    /*border-bottom: 2px solid #fff;*/
    text-decoration: underline;
}
.footer-navigation-up ul li:active,
.footer-navigation-down ul li:active{
    opacity: 0.5;
}
.footer-navigation-down ul{
    display: flex;
    width: 524px;
    justify-content: space-between;
    
}
.logo-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:193px;
    
}
.footer-navigation-down a{
    color: #FFD180;
    height: 53px;
    margin-top: 0;
}

.footer-social-contacts{
    background: var(--basic-dark-blue);
 
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 163px;
}
.social-media div{
    border-radius: 50%;
    background-color: #212A3A;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.social-media div:hover{
    background-color: var(--basic-button-red);
}
.footer-call-back{
    display: flex;
    width: 309px;
    justify-content: space-between;
}
.footer-social-contacts .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
}
.footer-social-contacts a{
    color: #FFD180;
}
.footer-social-contacts a:hover{
    text-decoration: underline;
}
.footer-social-contacts a:active{
    color: var(--basic-button-red);
}
.footer-info{
    margin-bottom: 54px;
}
/*catalog*/
.container-catalog nav ul a{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000
}
.catalog-goods h2{
    background: #F2F6F8;
    text-transform: uppercase;
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    grid-column: 1/3;
    height: 89px;
    display: flex;
    align-items: center;
    padding-left: 29px;
}
.catalog-goods{
    color: #000;
    display: grid;
    grid-template-columns: 220px 700px;
    gap: 20px;
}
.filter-sort,.filter-sort a{
    color: #000;
}
.filter-sort{
    display: flex;
    background-color: #F7F3EC;
    height: 38px;
    align-items: center;
    font-size: 13px;
}
.filter-sort svg:last-child{
    transform: rotate(180deg);
    margin-left: 21px;
}
.filter-sort svg:first-of-type{
    margin-left: 46px;

}
.filter-sort svg:hover path{
    fill:#000;
}
.filter-sort svg:active path{
    fill: var(--basic-button-red);
}
.filter-sort p{
    margin-left: 20px;
}
.filter-sort ul{
    display: flex;
    margin-left: 140px;
}
.filter-sort ul li{
    margin-right: 70px;
}
.filter-sort ul  a{
    color: #C5C5C5;
    border-bottom: 1px dotted var(--basic-button-red);
}
.filter-sort ul li a:hover{
    
    border-bottom: 1px solid var(--basic-button-red);
}
.filter-sort ul li a:active{
    color: var(--basic-button-red);
    border-bottom:none
}
.filter-sort ul li:last-child{
    margin-right: 0;
}
.pages{
    width: 284px;
    display: flex;
}
.pages ul{
    display: flex;
    justify-content:space-between;
    padding: 0;
}
.pages ul li{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    margin-right: 10px;
}
.pages ul li:hover,
.pages button:hover
{
    border: 1px solid #C5C5C5;
    border-radius: 2px;
}
.pages ul li:active,
.pages button:active{
    border: 1px solid var(--basic-button-red);
    border-radius: 2px;
}
.pages a{
    color: #000;
    display: inline-block;
    font-size: 13px;
    font-family: PT Sans;
}
.active-page,.active-page a{
    background-color: var(--basic-button-red);
    color: #fff;
    border: 1px solid var(--basic-button-red) !important;
    border-radius: 2px;
}
.pages button{
    outline: none;
    border: none;
    width: 140px;
    height: 38px;
    margin-top: 19px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border-radius: 2px;
}
.info-goods{
    background: #F1F5F7;
    color: #000;
    height: 261px;
    display: flex;
    align-items: center;
}
.info-goods .container {
    margin-bottom: 0;
}
.info-goods h2{
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.info-goods p{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

/*.goods-grid{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px
}*/
.same-box{
    display: flex;
    justify-content: space-between;
}
.same-box *{
    margin: 25px 19px 25px 19px;
}
.same-box div{
    width: 192px;
    height: 38px;
    text-align: center;
    padding: 0;
    background-color: var(--basic-button-red);
}
.same-box a{
    display: inline-block;
    margin-top: 10px;
}
.vk{
    background-image: url("img/vk.png");
}
.fc{
    background-image: url("img/fc.png");
}
.inst{
    background-image: url("img/inst.png");
}
/*hello*/