/* Variables */
:root{
    --basic-dark-blue:#293449;
    --basic-navigation-blue:#32425C;
    --basic-button-red:#EE3643;
    --basic-menu-text:#fff;
    --basic-footer-menu-text:#FFD180;
}
.visual-hidden{
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.container{
    width: 940px;
    margin: 0 auto;
}
.search-grid{
    display: grid;
    grid-template-columns: 300px 200px ;
    
}
.logo-header{
    background: var(--basic-button-red);
    width: 220px;
    height: 47px;
    text-align: center;
    text-transform: uppercase;
    
}
.skelet-end{
    justify-self: end;
}
.logo-header a{
    margin-top: 20px;
    margin-bottom: 0;
}
.enter-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-menu-text);
}
a {
    text-decoration: none;
    color: var(--basic-menu-text)
}
img {
    max-width: 100%;
    height: auto;
}
.main-header .search{
    background-color: var(--basic-dark-blue);
}
ul{
    list-style: none
}
.main-header{
    background:  #F1F5F7;
}
.enter h1{
    font-family: Cuprum;
    font-style: italic;
    color: #EE3643;
    font-size: 16px;
    line-height: 23px;
    
}
.site-navigation{
    margin: 0;
}
.enter .phone-number{
    color: #EE3643;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}
.enter p{
    color: #32425C;
    font-size: 14px;
    line-height: 24px;
}
.enter a{
    color: black;
    font-size: 21px;
    line-height: 21px;
    
}
.features{
    margin-bottom: 0;
}
.main-navigation{
    background-color: var(--basic-navigation-blue);
}

.features-list{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px ;
    grid-gap: 20px;
    padding-left: 0;
    margin-top: 59px;
    margin-bottom: 0;
}
.features-list .feature-item{
    width: 300px;
    height: 123px;

}
.features-list .feature-item h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.features-list .feature-item a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.features-list .yello{
    background-color: #FFBF47;

}
.features-list .yello a{
    background-color: #FFD27E
}
.features-list .blue {
    background-color: #3BBCE3;
}
.features-list .blue a{
    background-color: #75D0EB;
}
.features-list .purple {
    background-color: #DC91D8;
}
.features-list .purple a{
    background-color: #E6B2E4
}
.features-list .photo {
    width: 620px;
    height: 266px;
    background: url(img/Layer199.jpg);
}
.features-list .photo a{
    background-color: #EE3643;
}
.features-list .green{
    background: #8ED78F;
    grid-column: -2/-1;
}

.features-list .green a{
    background-color: #B0E3B0;
}
.features-list .last-yello{
    background: #FFC047;
    grid-column: -2/-1;
    grid-row: 3/4;
}
.features-list .last-yello a{
    background-color: #FFD37E;
}
.pop-price{
    background: #F9F5F0;
    margin-top: 56px;
 }
.pop-price h2{
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.pop-price a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #EE3643
}
.pop-price-list{
    padding-left: 0;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-gap:20px;
    margin-bottom: 0;
}
.pop-price-list .pop-item{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
}
.pop-price-list p:nth-of-type(2){
    background-color: #EE3643;
    font-weight: 700;
    font-size: 17px;
}
.pop-price-list p:nth-of-type(1){
    color: #A9A9A9;
    font-weight: 700;
    text-decoration: line-through;
}
.pop-price-list .pop-item a{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.firms-desk{
    margin-top: 70px;
}
.firms-list .firms-desk{
    background: #F9F5F0;
}
.firms-desk h2{
        color: #32425C;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.firms-desk a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #EE3643
}
.firms-logo{
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px ;
}
.firms-logo div{
   /* width: 220px;
    height: 145px;*/
    border: 1px solid #EAEAEA;
}
.service-delivery {
    background: #F1F5F7;
}
.service-delivery .container{
    
    color: #000000;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.service-delivery h3{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    font-style: normal;
    font-weight: normal;
}
.service{
    grid-column: 1/4;
}
.service p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.delivery p{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.delivery h3{
    color: #32425C;
}
.service-delivery ul{
    width: 240px;
    background: #32425C;
    font-family: Cuprum;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    font-size: 21px;
    line-height: 30px;
}
.service-delivery ul li:nth-child(1){
    background-color: #fff;
    color: #000;
}
.info .container{
    color: #000;
    display: grid;
    grid-template-columns: auto auto;
}
.info h3{
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
}
.info-desk p, .info-address p{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}
.info-desk ul{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.info-desk a , .info-address a{
    background: #EE3643;
    color: #fff;
}
.main-footer{
    background: var(--basic-navigation-blue);
}
.main-footer .logo {
    background: #EE3643;
    font-size: 30px;
    font-weight: normal
    
}
.footer-navigation-up, .footer-navigation-down{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    
}
.logo-footer{
    display: grid;
    grid-template-columns: 321px auto;
    grid-template-rows: auto auto;
}
.footer-navigation-down{
    color: #FFD180;
}
.footer-social-contacts{
    background: var(--basic-dark-blue);
 
}
.footer-social-contacts .container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.footer-social-contacts a{
    color: #FFD180;
}
/*catalog*/
.enter a:nth-of-type(1){
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000;
}
.enter a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
}
.container-catalog nav ul a{
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000
}
.catalog-goods h2{
    background: #F2F6F8;
    text-transform: uppercase;
    color: #32425C;
    font-size: 30px;
    line-height: 30px;
    grid-column: 1/3;
}
.catalog-goods{
    color: #000;
    display: grid;
    grid-template-columns: 220px 700px;
    gap: 20px;
}
.filter-sort,.filter-sort a{
    color: #000;
}
.filter-sort{
    grid-column: 1/4;
    
}
.pages{
    grid-column: 2/3;
}
.pages a{
    color: #000;
}
.active-page,.active-page a{
    background-color: #EE3643;
    color: #fff;
}
.pages button{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.info-goods{
    background: #F1F5F7;
    color: #000;
    
}
.info-goods h2{
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.info-goods p{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.goods-grid{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    gap: 20px
}

@import url('grid-style.css');/*не работает иморт не могли бы показать как должен работать импорт ?*/